rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null &&
        request.auth.token.email_verified == true &&
        request.auth.token.email == 'mdsiamahmmedloselovestroy@gmail.com';
    }

    function isGoogleUser() {
      return request.auth != null && request.auth.token.firebase.sign_in_provider == 'google.com';
    }

    function canAccessCourse(courseId) {
      return isAdmin() || (isGoogleUser() &&
        firestore.exists(/databases/(default)/documents/authorized_users/$(request.auth.token.email)) &&
        firestore.get(/databases/(default)/documents/authorized_users/$(request.auth.token.email)).data.access == 'granted');
    }

    match /lessons_videos/{courseId}/{lessonId}/{fileName} {
      allow read: if canAccessCourse(courseId);
      allow write: if isAdmin() &&
        request.resource.contentType == 'video/mp4' &&
        request.resource.size <= 104857600;
      allow delete: if isAdmin();
    }

    match /courses_videos/{courseId}/{fileName} {
      allow read: if canAccessCourse(courseId);
      allow write: if isAdmin() &&
        request.resource.contentType == 'video/mp4' &&
        request.resource.size <= 104857600;
      allow delete: if isAdmin();
    }
  }
}
